body{
    position: relative;
    background-image: url(https://cdn.discordapp.com/attachments/1014216877272215663/1016087832789528676/ecotreebg.png);
    background-repeat: repeat-x;
    background-position-y: center;
}