@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

:root {
    --greenCol: #99e699
}

::-webkit-scrollbar {
    display: none;
}

*
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Baloo Tamma 2', cursive;
    color:black;
}

/* -- NAVBAR CSS -- */
.navbar-section {
    background-color: var(--greenCol);
}
.navbar-section p {
    position: absolute;
    top:0.9rem;
    left:0.7rem;
    font-size: 20px;
}

.navbar-items-login {
    position: absolute;
    top:1rem;
    right:4rem;
}

.navbar-items-login span {
    position: absolute;
    padding-left: 15px;
    top:0rem;
    color:white;
}
.navbar-section ul {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.navbar-titleTxt p{
    color:white;
}
ul:last-child {
    display: flex;
    justify-self: end;
}
.navbar-items{
    padding-left: 10px;
    padding-right: 10px;
}
/* -- NAVBAR CSS -- */

/* -- SHOWCASE CSS -- */
.continue-link {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.continue-link-item {
    box-shadow: 10px 10px 50px 5px rgb(62, 154, 62);
    background-color: var(--greenCol);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right:60px;
    padding-left:60px;
    border-radius: 15px;
}

.continue-link-item span {
    position: relative;
    top:0.35rem;
    right:0.6rem;
}

/* -- SHOWCASE CSS -- */
a:hover {
    color: rgb(255,255,255);
}

.main-wrapper {
    display: flex;
    width: 100vw;
}

.sub-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#score-txt p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color : white;
    border: solid var(--greenCol) 3px;
    width: 130px;
    background-color: var(--greenCol);
    border-radius: 50px;
    margin-left: auto;
    margin-right:auto;
}

#title-txt p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color : black;
    border: solid var(--greenCol) 3px;
    width: 25rem;
    border-radius: 50px;
    margin-left: auto;
    margin-right:auto;
}

#check-recyclable {
    margin-top:0.7rem;
    margin-bottom:1rem;
    background-color: var(--greenCol);
    padding:10px;
    border:  solid var(--greenCol) 1px;
    border-radius: 10px;
    width:25rem;
    margin-left: auto;
    margin-right: auto;

}