<!DOCTYPE html>

<html>
    <head>
        <title>Carbon Tracker</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class = "navbar-section"> 
            <ul> 
                <li class = "navbar-item"><a href = "index.html">Home</a></li>
                <li class = "navbar-item"><a href = "/dashboard/">Dash Board</a></li>
                <li class = "navbar-item"><a href = "/login/">Login</a></li>
                <li class = "navbar-item"><a href = "/signup/">Sign Up</a></li>
                <li class = "navbar-item"><a href = "/sortgarbage/1">Test Your Knowledge with Sorting Garbage</a></li>
            </ul>
        </div>
    </body>
</html>
