{% extends "base.html" %}
{% block title %}The Garbage Game{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/index.css">
{% endblock %}

{% block content %}
        <div class = "main-showcase">
            <div class = "bg-img"></div>
            <div class = "continue-link">
                <div class = "continue-link-item">
                    <span class="material-symbols-outlined">arrow_forward_ios</span><a href = "/sortgarbage">Continue</a>
                </div>
        
            </div>

        </div>
{% endblock %}