{% extends "base.html" %}
{% block title %}Leaderboard - The Garbage Game{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="leaderboard.css">
{% endblock %}

{% block content %}
<div class="leaderboard-wrapper">
    <table class="leaderboard">
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {% for score in scores %} 
        <tr class = "leaderboard-item">
            <td class = "leaderboard-item-place">
                {{ score.place }}.
            </td>
            <td class = "leaderboard-item-name">
                <p>{{ score.name }}</p>
            </td>
            <td class = "leaderboard-item-score">
                <p>{{ score.score }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}