{% extends "base.html" %}
{% block title %}Log In - The Garbage Game{% endblock %}
{% block head %}
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="login.css">
{% endblock %}
{% block content %}
        <div class="login-bg">
            <div class="login-window">
                <h1 class="login-title">Login</h1>
                <form id="loginform" class="login-form">
                    <label for="email" class="form-label">Email Address</label>
                    <input required id="email" type="email" name="email" placeholder="name@example.com" class="form-input" />
                    <label for="password" class="form-label">Password</label>
                    <input required id="password" type="password" name="password" placeholder="Account password" class="form-input" />
                    <input type="submit" value="Login" class="form-submit" />
                </form>
                <div class = "sign-up-txt">
                    <a href="/signup">Sign up</a>
                </div>
            </div>
        <div>

        <script src="login.js"></script>
{% endblock %}
 