{% extends "base.html" %}
{% block title %}Sign Up - The Garbage Game{% endblock %}
{% block head %}
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="signup.css">
{% endblock %}

{% block content %}
        <div class="login-bg">
            <div class="login-window">
                <h1 class="login-title">Sign Up</h1>
                <form id="loginform" class="login-form">
                    <label for="name" class="form-label">Name</label>
                    <input required id="name" type="text" name="name" placeholder="Your name" class="form-input" />
                    <label for="email" class="form-label">Email Address</label>
                    <input required id="email" type="email" name="email" placeholder="name@example.com" class="form-input" />
                    <label for="password" class="form-label">Password</label>
                    <input required id="password" type="password" name="password" placeholder="Account password" class="form-input" />
                    <input type="submit" value="Sign Up" class="form-submit" />
                </form>
                <a href="/login">Login</a>
            </div>
        <div>

        <script src="signup.js"></script>
{% endblock %}
