<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Carbon Tracker - Sign Up</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
        <div class="login-bg">
            <div class="login-window">
                <h1 class="login-title">Sign Up</h1>
                <form id="loginform" class="login-form">
                    <label for="email" class="form-label">Email Address</label>
                    <input required id="email" type="email" name="email" placeholder="name@example.com" class="form-input" />
                    <label for="password" class="form-label">Password</label>
                    <input required id="password" type="password" name="password" placeholder="Account password" class="form-input" />
                    <input type="submit" value="Sign Up" class="form-submit" />
                </form>
            </div>
        <div>

        <script src="signup.js"></script>
    </body>
</html>
