{% extends "base.html" %}
{% block title %}The Garbage Game{% endblock %}
{% block head %}
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="login.css">

        <script>
            const img_id = {{ img_id }};
        </script>
{% endblock %}
{% block content %}
<div class = "main-wrapper">
    <div class = "sub-wrapper">
        <div id = "title-txt">
            <p>Test your knowledge to sort garbage</p>
        </div>

        <div id = "score-txt">
            <p>Score: {{ score }}</p>
        </div>
        
        <div>
            <img src="{{ image_src }}" width="600px" height="400px" />

            <div id = "check-recyclable">
                <form id="sortform" class="login-form" method="POST">
                    <label for="can_recyc" class="form-label">Is it Recyclable?</label>
                    <select name="can_recyc" id="can_recyc">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
    
                    <input id="submit_btn" type="submit" name="submit" value="Check" class="form-submit" />
                </form>
            </div>
        </div>
    </div>
</div>
        

        <script src="sort_garbage.js"></script>
{% endblock %}
