<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Carbon Tracker - Upload Image</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <div class="login-bg">
            <div class="login-window">
                <h1 class="login-title">Login</h1>
                <form id="uploadform" class="login-form" enctype="multipart/form-data" method="POST">
                    <label for="file" class="form-label">Image to Upload</label>
                    <input id="file" type="file" name="file" />
                    <p/>
                    <p/>
                     <input type="submit" value="Upload" class="form-submit" />
                </form>
            </div>
        <div>

        <script src="login.js"></script>
    </body>
</html>